<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Charts</title>
	<!-- Load c3.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
	<style>
	</style>
</head>
<body>


    <div class="topContainer">
        <div class="topDiv">

        </div>
    </div>

 <div class="row">
    <div class="imgcenter" id="banner">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="The 519 Logo" width="200" height="70">
    </div>
</div>

 <p>
     <br>
     <h3>Event attendance over the last 13 months</h3> 
     <br>
</p>


<div id="chart-one" class="topDiv"></div>

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js'></script>

<script>
var month = Array();
var all = Array();
var reg = Array();
var attend = Array();

function populate() {
    // make an AJAX call to get list of movies and image files 
    $.ajax({
        url: '/get_graph',
        dataType: "json",
        data: '',
        type: 'GET',
        success: function(response) {
            for (var ifilm = 0; ifilm < response[0].length; ifilm++) {
                // add films to the #containment-wrapper element in DOM
                month[ifilm] = response[0][0][ifilm];
                all[ifilm] = response[0][1][ifilm];
                reg[ifilm] = response[0][2][ifilm];
                attend[ifilm] = response[0][3][ifilm];
			}
			console.log(response);
	
	var charts = c3.generate({
	bindto: "#chart-one",
	data: {
		columns: [
			[`${firstTitle}`].concat(all),
			[`${secondTitle}`].concat(reg),
			[`${thirdTitle}`].concat(attend)
		],
	type: "line", //pie, bar, donut, scatter, etc
	},
	axis: {
		x: {
			type: "category",
			categories: [
				response[0][0], response[0][1], response[0][2], response[0][3], response[0][4], response[0][5], response[0][6], response[0][7], response[0][8], response[0][9], response[0][10], response[0][11],
			] 
		},
	},
});
        },
        error: function(error) {
            console.log(error);
        }
    })};
populate();


var firstTitle = "All";
var secondTitle = "Registered";
var thirdTitle = "Attended";
</script>
	
</body>

</html>
