<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Charts</title>
	<!-- Load c3.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
	<style>
	</style>
</head>
<body>


<div class="topContainer">
	<div class="topDiv"><h1>Charts</h1></div>
</div>

<div id="chart-one" class="topDiv"></div>

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js'></script>

<script>

var month = Array();
var all = Array();
var reg = Array();
var attend = Array();

function populate() {
    // make an AJAX call to get list of movies and image files 
    $.ajax({
        url: '/get_graph',
        dataType: "json",
        data: '',
        type: 'GET',
        success: function(response) {
            for (var ifilm = 0; ifilm < response[0].length; ifilm++) {
                // add films to the #containment-wrapper element in DOM
                month[ifilm] = response[0][ifilm];
                all[ifilm] = response[1][ifilm];
                reg[ifilm] = response[2][ifilm];
                attend[ifilm] = response[3][ifilm];
            }
        },
        error: function(error) {
            console.log(error);
        }
    })};
populate();

console.log(month);
console.log(all);
console.log(reg);
console.log(attend);


var firstTitle = "All";
var secondTitle = "Registered";
var thirdTitle = "Attended";

console.log(`${firstTitle}`)

var charts = c3.generate({
	bindto: "#chart-one",
	data: {
		columns: [
			[`${firstTitle}`].concat(all),
			[`${secondTitle}`].concat(reg),
			[`${thirdTitle}`].concat(attend)
		],
	type: "line", //pie, bar, donut, scatter, etc
	},
	axis: {
		x: {
			type: "category",
			categories: month,
		},
	},
});
</script>
	
</body>

</html>
